@{Layout = null;}
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/Slider/coin-slider-styles.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Slider/coin-slider.js"></script>
    <link href="~/Content/Slider/coin-slider-styles.css" rel="stylesheet" />
<div id="k_slider">
    <div id="games">
  @*      <div id="k_slider">*@
                <img src="~/Content/Slider/Images/1.jpg" />
                <img src="~/Content/Slider/Images/2.jpg" />
                <img src="~/Content/Slider/Images/3.jpg" />
                <img src="~/Content/Slider/Images/4.jpg" />
                <img src="~/Content/Slider/Images/5.jpg" />
                <img src="~/Content/Slider/Images/6.jpg" />
                <img src="~/Content/Slider/Images/7.jpg" />
     @*       </div>*@
    </div>
</div>

		<script>
		    $('#games').coinslider();
		</script>