@{
    Layout = null;
}
@model List<Kitchen.Controllers.ImageController.images>

@if(Model!=null)
{
    foreach (var el in Model)
    {
        <img src="data:image/jpg;base64,@System.Convert.ToBase64String(el.Image)" title="img@(el.Id)" style="max-width:300px" /> <a href="@Url.Action(MVC.Image.DeleteImg(el.Id,el.Kitchen_Id))"><img src="~/Content/not.png" />  </a><br/>
    }
}
@*/Image/DeleteImg/id=@(el.Id)&Id=@(el.Id)*@