@{
    ViewBag.Title = "Домашняя страница";
}
    <!--СЛАЙДЕР ТУТ-->
    @Html.Partial(MVC.Shared.Views.Slider)
    <!--END СЛАЙДЕР-->
    <div id="text_cont">
        <br />
        <p>И никогда в последствии не изменяло однажды избранному индивидуальному сегменту. Клиенты у "Графской кухни" были всегда. Еще в те далекие времена, когда на комбинате выпускались умывальники, а производство кухонных наборов только начинали осваивать, комбинат зарекомендовал себя как производитель качественной продукции. Выпускали кухни одинаковые на вид, но и одинаково хорошие по качеству.</p>
        <p>Эпоха перемен внесла коррективы в работу предприятия: кухни стали отличаться друг от друга, но качественные характеристики оставались неизменно отличными. В течении всех этих лет предприятие постоянно реорганизуется, совершенствует свое производство, расширяет ассортимент, используя самые передовые технологии и современное оборудование. Предприятие никогда не скупилось на покупку качественной техники, позволяющей сократить издержки и изготавливать мебель высокого качества.</p>
    </div>

